/*fronts*/
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-SemiBold.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}
    
    /*обнуление/общие стили*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  }
img {
  display: block;
  object-fit: cover;
}
  
    /*__Шапка__*/
._container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 120px;
  max-width: 1440px;
  border-bottom: 1px solid #EFF5FB;
}
.header__logo {
  min-width: 51px;
}
.header__logo-img {
  width: 100%;
  display: block;
}
.header__nav-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  }
.header__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 114%;
  letter-spacing: 0.25px;
  color: #333333;
  text-decoration: none;
  position: relative;
}
.header__btn {
  border-radius: 4px;
  background: #E3F5F5;
  color: #03B2A5;
  padding: 14px 20px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
.header__burger {
  display: none;
}
  /* Style main */
.main {
  position: relative;
  padding: 16px 120px 30px 120px;
  max-width: 1440px;
}
.attahments {
  display: flex;
  align-items: center;
  gap: 8px;
}
.attahments__text {
  text-decoration: none;
  text-align: center;
  color: #333333B2;
  font-size: 12px;
  font-family: 'Montserrat';
  line-height: 18px;
  letter-spacing: 0.25px;
}
.attachments__arrow {
  background-size: cover;
  width: 16px;
  height: 16px;
}
.article {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.article__content {
  max-width: 690px;
}
.article__title {
  overflow: hidden;
  color: var(--text-primary, #333);
  text-overflow: ellipsis;
  font-family: 'Montserrat';
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  margin-top: 54px;
}
.article__author-date {
  color: #494949;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-right: 20px;
  margin-top: 16px;
  margin-bottom: 24px;

}
.article__card-title {
  margin: 24px 0 16px;
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.article__card-lists {
  padding-left: 24px;
  margin-top: 16px;
  color: #03B2A5;
}
.article__card-link,
.article__card-sup-link {
  color: #333;
  font-size: 16px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
}
.article__card-item {
  margin-top: 8px;
}
.article__card-sup-item {
  margin-left: 32px;
  margin-top: 4px;
}
.article__card-text {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}
.article__quote-text::after {
  position: absolute;
  content: '';
  width: 55px;
  height: 36px;
  top: 24px;
  left: 24px;
  background: url(../images/quotation.png) center/cover no-repeat;

}
.article__quote {
  border-radius: 16px;
  background: var(--blue-b-80, #F3F7FE);
  padding: 24px;
  position: relative;
}
.article__quote-text {
  color: var(--text-primary, #333);
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
}
.article__quote-author {
  color: var(--text-primary, #333);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.article__pic { 
  max-width: 690px;
  max-height: 331px;
  overflow: hidden;
  object-fit: contain;
}
.article__img {
  min-width: 100%;
  min-height: 100%;
}
.article__sub-title {
  color: #868686;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.25px;
  margin: 16px 0 24px 0;
}
.article__quote-center {
  margin: 24px 0;
  text-align: center;
  padding: 24px 102px 48px 104px;
  position: relative;
}
.article__quote-center-text::after {
  content: '';
  position: absolute;
  width: 240px;
  height: 168px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('../images/pink-puddle.png') center/cover no-repeat;
  z-index: -1;
}
.article__quote-center-text {
  color: var(--text-primary, #333);
  text-align: center;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  z-index: 1;
}
.article__repertoire {
  display: grid;
  grid-template-columns: 282px 1fr;
  column-gap: 24px;
  margin-bottom: 24px;
}

.article__repertoire-Width {
  grid-template-columns: 1fr 1fr;
}

.article__repertoire-Width .article__repertoire-text {
  margin-top: 24px;
}


.article__repertoire-pic {
  max-width: 100%;
  overflow: hidden;
}

.article__repertoire-text {
  color: var(--text-primary, #333);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.article__exercise {
  padding: 24px;
  border-radius: 16px;
  background: var(--status-yellowe-white, #FEFAEC);
  margin-bottom: 24px;
}

.article__exercise-title {
  color: var(--text-primary, #333);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 8px;
}

.article__exercise-text {
  color: var(--text-primary, #333);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.article__repertoire {
  display: grid;
  grid-template-columns: 282px 1fr;
  column-gap: 24px;
  margin-bottom: 24px;
}

.article__repertoire-Width {
  grid-template-columns: 1fr 1fr;
}

.article__repertoire-Width .article__repertoire-text {
  margin-top: 24px;
}


.article__repertoire-pic {
  max-width: 100%;
  overflow: hidden;
}

.article__repertoire-text {
  color: var(--text-primary, #333);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.article__flash {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
.filter {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}
.filter__dot {
  color: #2963A3;
}
.media-screen-hide {
}
.filter__item {
}
.article-filter__item {
}
.filter__link {
  color: #2963A3;
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration:none;
}
.article__aside {
  max-width: 282px;
  margin-top: 54px;
}
.aside-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
  border-radius: 16px;
  background: var(--blue-b-95, #E6F0FD);
}
.aside__pic {
  max-width: 257px;
  max-height: 206px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.aside__title {
  color: var(--text-primary, #333);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 11px;
  max-width: 234px;
  max-height: 48px;
}
.aside__text {
  color: var(--text-primary, #333);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 24px;
  max-width: 234px;
  max-height: 100px;
}
.aside__btn {
  width: 234px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background: #35b3a9;
  border-radius: 4px;
  padding: 12px 16px;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-bottom: 24px;
}
.aside__item-pos {
  border-radius: 16px;
  position: relative;
  border: 1px solid #DEDEDE;
  background: #FFF;
}
.aside__pic-circle { 
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 120px;
  max-height: 120px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.pos-absl__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
}
.pos-absl__item {
  margin-bottom: 8px;
  padding: 6px 8px;
  border-radius: 24px;
  border: 1px solid #C1C5CD;
  background: rgba(255, 255, 255, 0.70);
  display: flex;
  align-items: center;
  gap: 4px;
}
.pos-absl__text {
  color: #333;
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: 400;
  line-height: 20px;
}
.aside__prof-name {
  text-align: center;
  font-family: 'Montserrat';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;

}
.aside__prof {
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.aside__prof-experience {
  color: var(--neutrals-n-66, #A2A7B1);
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
.aside__lists {
  border-top: 1px solid #DEDEDE;
  padding-top: 15px;
  color: var(--text-primary, #333);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 8px;
}
.aside__list {
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-left: 24px;
  margin-bottom: 8px;
}
.aside__list::marker {
  color: #35B3A9;
  font-size: 20px;
}