/*fronts*/
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-SemiBold.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}
  
  /*обнуление/общие стили*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
}
img {
  display: block;
  object-fit: cover;
}

  /*__Шапка__*/
._container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 120px;
  max-width: 1440px;
  border-bottom: 1px solid #EFF5FB;
}
.header__logo {
  min-width: 51px;
}
.header__logo-img {
  width: 100%;
  display: block;
}
.header__nav-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
}
.header__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 114%;
  letter-spacing: 0.25px;
  color: #333333;
  text-decoration: none;
  position: relative;
}
.header__btn {
  border-radius: 4px;
  background: #E3F5F5;
  color: #03B2A5;
  padding: 14px 20px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
.header__burger {
  display: none;
}
/* Style main */
.main {
  position: relative;
  padding: 16px 120px 30px 120px;
}
.main::before {
  background-image: url(../images/blog-background.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  content: "";
  position: absolute;
  top: 401px;
  left: 0;
  height: 31%;
  background-size: cover;
  z-index: -1;
}
.attahments {
  display: flex;
  align-items: center;
  gap: 8px;
}
.attahments__text {
  text-decoration: none;
  text-align: center;
  color: #333333B2;
  font-size: 12px;
  font-family: 'Montserrat';
  line-height: 18px;
  letter-spacing: 0.25px;
}
.attachments__arrow {
  background-size: cover;
  width: 16px;
  height: 16px;
}
.main__title {
  margin-top: 30px;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #333333;
}
.filter { 
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 23px;
}
.filter__item {
  border-radius: 24px;
  border: 1px solid #C1C5CD;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 6px 10px;
  margin-right: 8px;
  margin-bottom: 8px
}
.filter__smile {
  display: inline-block;
  background-image: url(../images/smile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 18px;
  height: 18px;
  margin-right: 4px
}
.filter__link {
  color: #333;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
  text-decoration: none;
}
.filter__item-active {
  border: 2px solid #16C8BB;
  background: #F9FDFD;
}
.unicorn {
  display: inline-block;
  background-image: url(../images/Unicorn.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 18px;
  height: 18px;
  margin-right: 4px
}
.cards-main {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.cards-main__item {
  display: flex;
  width: 50%;
  flex-direction: column;
  border-radius: 16px;
}

.cards-main__pic {
  position: relative;
}

.cards-main__img {
  max-width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.pos-absl__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
}

.pos-absl__item {
  margin-bottom: 8px;
  padding: 6px 8px;
  border-radius: 24px;
  border: 1px solid #C1C5CD;
  background: rgba(255, 255, 255, 0.70);
  display: flex;
  align-items: center;
}
.pos-absl__text {
  color: #333;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 20px;
}
.cards-main__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 16px;
  max-width: 588px;
  max-height: 240px;
  border: 1px solid #DEDEDE;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.cards-other__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 16px;
  max-width: 384px;
  border: 1px solid #DEDEDE;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.cards-main__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 4px;
}
.cards-other__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #333;
  margin-bottom: 4px;
}
.cards-main__author,
.cards-other__author {
  color: #494949;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.25px;
  margin-bottom: 8px;
}
.cards-main__text,
.cards-other__text {
  color: var(--text-primary, #333);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.cards-main__date,
.cards-other__date {
  color: #868686;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.25px;
  margin-top: auto;
}
.cards__other {
  margin-top: 23px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 24px;
  margin-bottom: 56px;
}
.cards-other__item {
  display: flex;
  flex-direction: column;
  width: calc(33% - 24px);
  position: relative;
}

.cards-other__img {
  max-width: 100%;
  max-height: 260px;
  border: inherit;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.cards-other__content {
  flex-grow: 1;
}
.cards__btn {
  display: block;
  margin: 0 auto;
  padding: 12px 72px;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 4px;
  background: var(--primary-400, #35B3A9);
  cursor: pointer;
  border: none;
  margin-bottom: 96px;
}
/* Style footer */
.footer {
  background-color: #2963A3;
  padding: 40px 0 17px;
}
.footer__wrapper {
  max-width: 1440px;
  padding: 0 120px;
}
.footer__content {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  column-gap: 20px;
}
.footer__links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 16px;
}
.footer__link {
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
}
.footer__title {
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 8px;
}
.footer__form {
  display: flex;
  max-width: 384px;
  margin-bottom: 8px;
}
.footer__email {
  padding: 14px 55px 14px 16px;
  border-radius: 4px;
  border: 1px solid rgba(157, 157, 157, 0.20);
  outline: none;
  background: #FFF;
  color: #9D9D9D;
  font-size: 14px;
  line-height: 20px;
  flex-grow: 1;
}
.footer__btn {
  padding: 14px 20px;
  border-radius: 4px;
  background: #16C8BB;
  border: none;
  margin-left: -5px;
}
.footer__btn-img {
  display: block;
  background-image: url(../images/sendmail.svg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 25px;
  height: 25px;
}
.footer__text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  letter-spacing: 0.25px;
  opacity: 0.7;
}
.footer__social {
  justify-self: center;
}
.footer__social-links {
  display: flex;
  gap: 16px;
}
.footer__social-link {
  margin-top: 40px;
  width: 32px;
  height: 32px;
  border-radius: 60px;
  background-color: #EFF5FB;
}
.social-vk {
  display: block;
  background-image: url(../images/vk.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.social-tg {
  display: block;
  background-image: url(../images/tg.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.social-twt {
  display: block;
  background-image: url(../images/twt.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.social-dzen {
  display: block;
  background-image: url(../images/dzen.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.footer__line {
  height: 1px;
  background-color: #9D9D9D;
  opacity: 0.3;
  margin-top: 24px;
}
.footer__copyright {
  display: flex;
  gap: 48px;
}
.footer__copyright-link {
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.7;
}
/*adaptive*/
@media (max-width: 1024px) {
.header {
  padding: 20px 35px;
}
.header__nav {
  margin-right: 20px;
}
.header__lists {
  gap: 16px;
}
.header__link:last-child {
  margin-left: 8px;
}
.main {
  padding: 16px 32px 0 32px;
}
.filter {
  flex-wrap: wrap;
  justify-content: start;
}
.filter__item {
  margin: 0 8px 8px 0;
}
.footer__wrapper {
  padding: 0 32px;
}
.cards__btn {
  margin-bottom: 60px;
}
.cards-main__img {
  max-width: 100%;
}
}
@media (max-width: 768px) {
.header {
  padding: 20px;
}
.header__nav,
.header__btn {
  display: none;
}

.header__burger {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  align-items: center;
  position: relative;
}

.header__burger-line {
  position: absolute;
  content: '';
  width: 20px;
  height: 2px;
  background-color: #03B2A5;
}

.header__burger-line::before,
.header__burger-line::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 2px;
  background-color: #03B2A5;
}
.header__burger-line::before {
  top: -6px;
}

.header__burger-line::after {
  top: 6px;
}
.main {
  padding: 16px 20px 0 20px;
}
.cards-main {
  flex-wrap: wrap;
}
.cards-main__img {
  min-width: 100%;
}
.cards-main__item {
  width: 100%;
}
.cards-other__item {
  width: calc(50% - 12px);
}

.cards__btn {
  margin-bottom: 55px;
}
.footer__content {
  grid-template-columns: 1fr 1.2fr;
  row-gap: 24px;
}
.footer__social {
  justify-self: start;
}
.footer__wrapper {
  padding: 0 20px;
}
}
@media (max-width: 414px) {
.header {
  padding: 19px 24px;
}
.filter {
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  margin-top: 24px;
  padding-bottom: 10px;
}
.filter__item {
  display: inline-block;
}
.cards-other__item {
  width: 100%;
}
.footer__content {
  grid-template-columns: 1fr;
}
.footer__copyright {
  flex-direction: column;
  gap: 0;
}
}
@media (max-width: 320px) {
.header {
  padding: 11px 16px;
}
.main {
  padding: 0 16px;
}
.footer__btn {
  display: none;
}
}